@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common class start */
.bg-color{
    background-color: #e75318;
}

.text-color{
   color: #e75318;
}

.color{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}

.p-color{
    color: rgb(168, 168, 168);
    
}

.padding{
    padding: 0 190px;
}

.margin{
    margin: 0 190px;
}
/* common class ends */

.container{
    max-width: 75%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgb(56, 56, 56),rgb(0,0,0)100%);
}

/* header start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 67px 190px 47px 190px;
}

.navbar .nav-logo h1{
    font-size: 32px;
}

.navbar .nav-link .ul-link ul{
display: flex;
justify-content: center;
align-items: center;
gap: 0 50px;
border: 2px solid #474747;
padding: 4px 11px 4px 2px;
border-radius: 25px;

}
.navbar .nav-link .ul-link ul li{
list-style: none;

}
.navbar .nav-link .ul-link ul li a{
text-decoration: none;
color: #fff;
font-size: 18px;
font-weight: 400;

}
.navbar .nav-link .ul-link ul li:first-child{
background-color: #e75318;
padding: 7px 18px;
border-radius: 30px;

}
.navbar .nav-link .toggle {
    display: none; 
}
.navbar .nav-link .toggle img{
    width: 44px;
    height: 30px;
   margin-top: 5px;
}
/* header ends */

/* hero start */
#hero{
    display: flex;
    justify-content: space-between;
   position: relative;
}
.hero-content{
   
}
.hero-content h1 {
    margin-top: 55px;
    font-size: 74px;
    font-weight: 800;
    padding-right: 107px;
    margin-bottom: 36px;
}
.hero-content h1 span{
    font-family: "Playwrite CU", cursive;
}
.hero-content p{
padding-right: 116px;
margin-bottom: 35px;
}
.hero-content .btn button{
padding: 15px 48px;
border-radius: 40px;
font-size: 18px;
color: white;
border: none;
font-weight: 600;
}

.hero-content .btn .download{
    background: transparent;
    border: 2px solid rgb(204, 204, 204);
    margin-left: 20px;
    padding: 13px 46px;
}

.hero-img img{
    width: 350px;
    height: 580px;
}
.hero-img .card1 {
    height: 110px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter:blur(20px) ;
    background: rgba(105, 105, 105, 0.26);
    border-radius: 10px;
    border: 0.5px solid rgb(131, 131, 131);
    position: absolute;
    bottom: 49px;
    right: 434px;
}
.hero-img .card2 {
    height: 110px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    backdrop-filter:blur(20px) ;
    background: rgba(116, 116, 116, 0.411);
    border-radius: 10px;
    border: 0.5px solid rgb(82, 82, 82);
    position: absolute;
    top: 120px;
    right: 100px;
}
.hero-img .card1 .card-l{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e75318;
}

.hero-img .card1 .card-r h1{
   font-size: 40px;
   margin-bottom: 8px;
}
.hero-img .card2 .card-r h1{
   font-size: 40px;
   margin-bottom: 8px;
}

.hero-img .card1 .card-r{
    color: white;
    margin-left: 14px;
}
.hero-img .card2 .card-r{
    color: white;
    margin-left: 14px;
}
/* hero ends */

/* habit starts */
#habit{
    align-items: center;
    text-align: center;
    margin: 100px 0;
}
#habit h1{
    font-size: 74px;
    font-weight: 800;
    margin-bottom: 30px;
}
#habit p{
    padding: 0 200px;
    line-height: 30px;
}

.habbit-card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.habbit-card .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 250px;
    
}
.habbit-card .card h2{
   font-size: 22px;
   margin: 19px 0 8px 0;
}
.habbit-card .card h3{
   font-size: 15px;
   font-weight: 400;
}

.habbit-card .card .card-img{
height: 200px;
width: 200px;
}
.habbit-card .card .card-img img{
height: 100%;
width: 100%;
border-radius: 50%;
}
/* habit ends */

/* run section starts */
#run-section{
    display: grid;
   grid-template-columns: 60% 39%;
    align-items: center;
    background-color: #252525;
    padding: 40px;
    border-radius: 30px;
}
#run-section .run-img {
width: 400px;
height: 320px;
display: flex;
justify-content: center;
align-items: flex-end;

}
#run-section .run-img img{
width: 100%;
height: 100%;
border-radius: 30px;
}
.run-content{
    padding-right: 200px;
}

.run-content h1{
    font-size: 54px;
   
    margin-bottom: 30px;
}

.run-content p{
    margin-bottom: 30px;
   
    line-height: 30px;
}

.run-content button{
    padding: 16px 70px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
}
/* run section ends */

/* team section starts */
#team{
    padding: 50px 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#team h1{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}
#team p{
font-size: 15px;
    padding: 0 250px;
    line-height: 26px;
    color: #8b8b8b;
    margin-bottom: 70px;

}
#team .team-picture{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    background-color: #2c2c2c;
    gap: 20px;
    padding: 22px;
    border-radius: 30px;
   
}
#team .team-picture .pic1{
    position: relative;
    height: 250px;
width: 300px;
border-radius: 30px;

background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

.team-picture .picture1{
  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.363) , rgba(0, 0, 0, 0.288)100%) , url("./images/trainer1.png");
}

.team-picture .picture2{
    background: linear-gradient(0deg,rgb(0,0,0,0.388) , rgba(0,0,0,0.288)100%) , url("./images/trainer2.png");
}
.team-picture .picture3{
    background: linear-gradient(0deg,rgb(0,0,0,0.388) , rgba(0,0,0,0.288)100%) , url("./images/trainer3.png");
}
.team-picture .picture4{
    background: linear-gradient(0deg,rgb(0,0,0,0.388) , rgba(0,0,0,0.288)100%) , url("./images/trainer4.png");
}
.team-picture .picture5{
    background: linear-gradient(0deg,rgb(0,0,0,0.388) , rgba(0,0,0,0.288)100%) , url("./images/trainer5.png");
}
.team-picture .picture6{
    background: linear-gradient(0deg,rgb(0,0,0,0.388) , rgba(0,0,0,0.288)100%) , url("./images/trainer6.png");
}
.team-picture .pic {
    position: absolute;
    top: 185px;
    left: -190px;
}

.pic h2{
    font-size: 22px;
    font-weight: 800;
}
/* team section ends */
/* bmi calculator section start */
#bmi-calc{
    margin-bottom: 40px;
   
    
}
#bmi-calc .title-bmi{
    display: grid;
    justify-content: center;
    align-items: center;
padding: 100px 400px;    
}
#bmi-calc .title-bmi h1{
   font-size: 50px;
   font-weight: 800;
   margin-bottom: 30px;
}
#bmi-calc .title-bmi p{
   color: #797979;
   line-height: 26px;
}

.bmi-content{
    padding: 60px 190px;
    display: flex;
    justify-content: space-between;
    background-color: #252525;
}

.bmi-content .bmi-table {
    padding-right: 50px;
}
.bmi-content .bmi-table h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}

.bmi-content .bmi-form {
    padding-left: 80px;
}
.bmi-content .bmi-form h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}
.bmi-content .bmi-form p{
    line-height: 26px;
    margin-bottom: 30px;
}
.bmi-content .bmi-form .f-div{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 15px 20px;
    
}
.bmi-content .bmi-form .f-div input{
    padding: 15px 30px;
    background-color: #4b4b4b;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: 700;

}
.bmi-content .bmi-form .f-div input::placeholder{
    color: #949494;

}
.bmi-content .bmi-form .f-div select{
    padding: 15px 30px;
    background-color: #4b4b4b;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    color: #949494;

}
.bmi-content .bmi-form  #select{
    padding: 15px 30px;
    background-color: #4b4b4b;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    color: #949494;
margin-top: 14px;
width: 100%;
}

.bmi-content .bmi-form button{
    padding: 15px 70px;
    margin-top: 35px;
    border: none;
    border-radius: 30px;
cursor: pointer;
}

.bmi-table{
    width: 37%;
    
}
.bmi-table table{
  border-collapse: collapse;
  color: rgb(173, 173, 173);
  font-weight: 300;
}
.bmi-table table thead{
    color: rgb(207, 207, 207);
    text-align: left;
}
.bmi-table table  td , th{
    border: 2px solid rgb(48, 48, 48);
    padding: 15px 30px;
}

.bmi-table table  td {
    font-size: 15px;
}
.bmi-form{
width: 62%;
}
/* bmi calculator section ends */

/* product section start */
#product{
    padding: 120px;
    background-color: #e75318;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#product .product-cards{
   display: flex;
   
   justify-content: space-between;
}
#product h1{
   font-size: 50px;
   color: white;
   margin-bottom: 40px;
}

#product .card{
    width: 24%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 10px;
}

#product .card img{
    width:150px;
    
}
#product .card p{
  font-size: 15px;
  margin-bottom: 15px;
   
    
}

#product .card .star{
  margin: 40px 0 10px;
   
    
}
#product .card .card-btn{
    width: 100%;
}
#product .card .card-btn button{
 padding: 8px 15px;
 font-size: 13px;
 border: none;
 font-weight: 400;
   transition: background-color 0.4s;
   cursor: pointer;
   border-radius: 20px;
  
    
}
#product .card .card-btn button:hover{
background-color: #e75318;
color: white;    

}
/* product section ends */
/* footer start */
.main-footer{
    padding: 60px 190px;
    background: #252525;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-content: center;
    align-items: center;
}
.footer-1 h1{
    font-size: 55px ;
    font-weight: 800;
    margin-bottom: 15px;
}
.footer-1 p{
   font-size: 12px;
   padding-right: 50px;
   line-height: 26px;
   margin-bottom: 34px;
}
.footer-2{
   padding-left: 130px;
}
.footer-3{
   padding-left: 140px;
}
.footer-3 h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 36px;
}
.footer-2 h1{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 36px;
}
.f ul li{
    list-style: none;
    margin: 19px 0;
    
}
.f ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(138, 138, 138);

}

.footer-hr {
    width: 100%;
    height: 0.5px;
    background-color: #252525;
    padding: 0 190px;

}

.footer-hr .hr{
    width: 100%;
    height: 100%;
    background-color: #494949;
}
.f-last{
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
    background: #252525;
}

/* footer ends */